services:
  mad_icp_dev:
    image: mad-icp-dev
    container_name: mad-icp-dev
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    shm_size: "24g"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - .:/opt/ros/overlay_ws/src/mad-icp:rw
      - ./build:/opt/ros/overlay_ws/build:rw
      - ./install:/opt/ros/overlay_ws/install:rw
      - ./log:/opt/ros/overlay_ws/log:rw

      # Neovim configuration
      # - ~/.config/nvim:/root/.config/nvim
      # - ~/.local/share/nvim:/root/.local/share/nvim
    tty: true
    stdin_open: true
    privileged: true
